
.display-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.padding-30{
	padding: 30px;
}

.justify-center{
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}


.left-align{
	text-align:left;
}

.issue-container{
}

.pagination-container{
	text-align: center;
}

.pagination-container li{
    padding: 2px;
}
